[user]
	name = Nathan Stilwell
	email = <EMAIL>
	
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[core]
    excludesfile = /Users/nstilwell/.gitignore

[push]
    default = tracking

[alias]
	pretty = log --graph --oneline --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	mine = log --author 'Nathan Stilwell'
	recent = log -p -n 5
	st = status -sb
	it = grep -n
	co = checkout
	ci = commit -m
	df = diff

[github]
	user = nathastilwell
	token = <TOKEN>